.h1{
    padding-right: 2%;
    color: #490778;
}



.dropdown{
    margin-left: 40px;
    color: #490778;
}

.dropwidth{
    width: 350px;
}

.checkbox{
    padding-right: 10%;
}

.buttonpadding{
    margin-right: 370px;
}

.alert-light-violet{
    color:#490778;
    background-color: rgb(192, 186, 186);
}

.text-clr{
    color:#490778;
}

.width{
    padding-bottom: 3%;
}

.calender{
    padding-right: 70%;
}

