.h1{
    padding-right: 57%;
    color: #490778;
}

.h4{
    padding-right: 71%;
    color: #490778;
}

.dropdown{
    padding-right: 62.5%;
    padding-left: 3%;
    color: #490778;
}

.dropwidth{
    width: 350px;
}

.checkbox{
    padding-right: 10%;
}

.buttonpadding{
    margin-right: 370px;
}

