html, body {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.row {
  margin: 0;
  padding: 0;
}

.white-txt{
  color: white;
}

  .left-half {
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
    margin: 0;
    padding: 0;
    height: 100vh;
    /* Adjust the height as needed */
  }
  
  .background-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .voilet-bg{
    margin: 0;
  padding: 0;

    background-color: #8D09DE;
  }